*{
    margin: 0;
    padding: 0;
}
/* utility  */
.header{
    background: linear-gradient(rgba(17, 17, 17, 1),rgba(42, 41, 41, 0.9));
    z-index: 1;
}

.nav-link-navbar{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.4s;
    color: #f2f2f2;
}
.nav-link-navbar:hover{
    color: #a2a2a2;
}
.login, .sing-up{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.4s;
}
.login, .sing-up{
    color: #f2f2f2; 
}
.login:hover, .sing-up:hover{
    color: #a2a2a2;
}
/* das Ende von Utility */
/* banner  */
.banner{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)),url("/imgs/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
.banner-text{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}
.banner-title{
    animation-name: banner-title;
    animation-duration: 3s;
}
.banner-desc{
    animation-name: banner-desc;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
}
@keyframes banner-title {
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes banner-desc {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/* das Ende von Banner */
/* services */
.card-services{
    background:linear-gradient(to Right ,rgba(0,0,0,0.9),rgba(0,0,0,0.5));
    transition: all 0.4s;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    color: #ccc;
   
}

.card-services:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
.animation-service{
    animation-name:card-services ;
    animation-duration: 2s;

}
@keyframes card-services {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Das Ende von Services */

/* Bücher */
.add-to-card{
    transition: all 0.6s;
}
.add-to-card:hover{
    background-color: rgb(104, 77, 8);
    transform: translateY(-4px);
}
.img{

height: 300px;
}
/* das Ende von Bücher */

/* verkäufistenBücherCard */
.verkäufistenBücherCard{
    transition: all 0.4s;
}
.verkäufistenBücherCard:hover{
   transform: translateY(-4px);
}

/* Das Ende der verkäufistenBücherCard */